.inicio {
  display: flex;
  height: 750px;
  justify-content: center;
  align-items: center;
}

.texto {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.texto > p {
  text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--color-paragrafo-text);
    font-weight: lighter;
  font-size: 2.3rem;
}

.texto strong{
    background:linear-gradient();
    color: #f3f3f3;
    font-size: 3rem;
}

.texto > img{
  margin-top: 10px;
}

@media (max-width:750px) {
  
  .texto > p {
    width: auto;
    text-align: center;
  }
  .texto > strong{
    text-align: center;
    font-size: 2.1rem;
  }
  
  
}